.Title {
  color: white;
  background-color: #ABA0F9;
  padding: 10px 16px;
  margin: 0px;
  margin-bottom: -10px;
  height: 50px;
}

.List {
  color: black;
  background-color:  #D6CFFF;
  height: 300px;
  margin-top: -2px;
  font-size: 16px;
  padding:10px;
  padding-left: 20px;;
}

.deleteButton {
  text-decoration: none;
  float:right;
  font-size: 8px;
}

.clientForm {
  color :white;
  background-color: #7C80FC;
  height: 20px;
  margin-top: 0;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  margin-top: -20px;
}